.container {
    display: flex;
    justify-content: space-between;
}
.content {
    margin-left: 15.8%;
    flex: 1;
    height: 100vh;
    background-color: #fff;
    /* background-color: rgba(255, 255, 255, 1); */
    -webkit-border-radius: 16px;
    border-radius: 16px;
    
}
.email-item{
    background: #f2f6fc;
    color: rgb(32, 33, 36);
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
    display: flex;
    align-items: center;
    padding: 0.3rem 1rem;
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4,0,0.2,1);
}

.email-item input{
    padding: 0 10px 0 13px;
    width: 20px;
    -webkit-box-ordinal-group: 1;
    cursor: pointer;
}
.detail-subject{
    margin: 0 1rem;
}
.detail-message {
    overflow: hidden;               
    text-overflow: ellipsis;    
    white-space: nowrap;           
    display: inline-block;        
    max-width: 62.5rem;             
    text-align: left;              
    color: rgb(95, 99, 104);      
    margin: 0 2rem;
    background: #f2f6fc;
}
.email-item:hover {
    transform: translateY(-1px);
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
    transition: margin .15s cubic-bezier(0.4,0,0.2,1), padding .15s cubic-bezier(0.4,0,0.2,1)
}
.inbox-head {
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .1);
    height: 48px;
    -webkit-transition: box-shadow .15s cubic-bezier(0.4,0,0.2,1);
    transition: box-shadow .15s cubic-bezier(0.4,0,0.2,1);
    padding: 0 1.2rem;
}


#deleteBtn{
    background: transparent;
    cursor: pointer;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#deleteBtn:enabled:hover{
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}